h1{

    color: red;
}
p{
    color: green;
}
li{
    list-style-type: none;
    color: green;
}
li.special{
    color: orange;
    font-weight: bold;
}
li em{
    color: rebeccapurple;
}
h1+p{
    font-size: 200%;
}
a:link{
    color: blue;
}
a:visited{
    color: green;
}
a:hover{
    text-decoration: none;
}
/* hover是鼠标悬停链接取消下划线 link和visited是链接是否访问过*/
body h1+ p.special {
    color: yellow;
    background-color: black;
    padding: 5px;
}
.outer{
    border: 5px solid black;
}
.box{
    padding: 10px;
    width: calc(90%-30px);
    background-color: rebeccapurple;
    color: white;
}
.box1{
    margin: 30px;
    width: 100px;
    height: 100px;
    background: linear-gradient(red 50%,yellow 50% );
    transform: rotate(0.8turn);
}